@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Bootstarp")       
    @Styles.Render("~/CssBundle/Bootstrap")        
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ToDo App</p>
        </footer>
    </div>
</body>
</html>
